.mainBody {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
	background-image: url('assets/IMG_7288.jpg');
	background-size: 100%;
    background-repeat: repeat;
	color: white;
}
.container {
	background-color: rgba(40, 72, 113, 0.85);
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-bottom: 16px;
}

.today-data {
	margin: 0;
	overflow: hidden;
	line-height: 50px;
}
.main-left {
	float: left;
	width: 60%;
	height: 250px;
}
.city-header-info {
	height: 40%;
	width: auto;
    font-size: 26px;
    padding-left: 3%;
}
#cityName {
	float: left;
	padding-top: 5%;
}
#weathericonMain {
	float: right;
	height: 100%;
}
#weathericonMain img {
	height: 95%;
	padding-top: 5%;
}
#cityTemp {
	padding-left: 20px;
    font-size: 155px;
    height: 70%;
    line-height: 1;
	margin-top: -5%;
}

.main-right {
	border-left: 1px white;
	height: 250px;
	overflow: auto;
    padding-left: 15px;
}

#weatherList {
    padding: 0% 1.5%;
}
.date-row {
	height: 40px;
    line-height: 35px;
}
.date-row * {
	float: left;
	height: 100%;
}
.date-name {
	width: 45%;
	padding-left: 2%;
}
.date-weathericon {
	width: 30%;
}
.date-weathericon img {
	height: 110%;
}
.date-temperature {
	float: right;
	padding-right: 2%;
}

h3 {
    margin: 5px;
}

hr {
	clear: both;
    border: 0;
    height: 1px;
    background: #2a4c77;
    background-image: linear-gradient(to right, #2a4c77, #ccc, #ccc, #2a4c77);
}
